<p id="notice"><%= notice %></p>

<h1>Listing Referreds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @referreds.each do |referred| %>
      <tr>
        <td><%= referred.name %></td>
        <td><%= link_to 'Show', referred %></td>
        <td><%= link_to 'Edit', edit_referred_path(referred) %></td>
        <td><%= link_to 'Destroy', referred, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Referred', new_referred_path %>
