<!DOCTYPE html>
<html>
<head>
  <title>Popsicle Application</title>
  <%= render 'layouts/bootstrap' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/bootstrap' %>
</head>
<body>
    <div class="container">
<%= render "layouts/navbar" %>
</div>
 <div class="container-fluid">
     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>
<div class="container">
<%= render "layouts/footer" %>
</div>
</div>
</body>
</html>
