<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation" class= "alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@account.errors.count, "error") %> prohibited this review from being saved:</h4>
      
      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="well well-sm">
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.label :return_client, "Returing Client:" %><br>
    <%= f.check_box :return_client %> "Check Box For Yes"
    </div>
    <div class="form-group">
    <%= f.label :program, "Program:" %><br>
    <%= f.collection_select :program_id, Program.all, :id, :name, {prompt: "Choose a Program"}, {class: "btn btn-default dropdown-toggle"} %>
  </div>
  <div class="form-group">
   <%= f.label :insurance, "Insurance:" %><br>
    <%= f.collection_select :insurance_id, Insurance.all, :id, :name, {prompt: "Choose an Insurance"}, {class: "btn btn-default dropdown-toggle"} %>
  </div>
  <div class="form-group">
   <%= f.label :referred, "Reason:" %><br>
    <%= f.collection_select :referred_id, Referred.all, :id, :name, {prompt: "What Happen?"}, {class: "btn btn-default dropdown-toggle"} %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br> example: 123 Anystreet, New Haven, CT 06515
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control", placeholder: "203 000-0000" %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>


<% end %>
