<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">

      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group">
    <%= f.label :return_client %><br>
    <%= f.radio_button :return_client, :true %> Returning Client?
    </div>
    <div class="form-group">
    <%= f.label :program %><br>
    <%= f.collection_select :program_id, Program.all, :id, :program, {prompt: "Choose a Program"}, {class: "btn btn-default dropdown-toggle"} %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br> example: 123 Anystreet, New Haven, CT 06515
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br> example: 203-000-000
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
