 <div class="row">
<div class="col-md-8">
    <h2>Client Listing</h2>
    <%= link_to ' Add Client', new_account_path, class: "fa fa-plus-square" %>
    <div class="well ">
<table class="table table-hover table-condensed">
    </div>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Program</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   
       <% @account.each do |account| %>
      <tr class="info">
        
        <td><%= account.first_name %></td>
        <td><%= account.last_name %></td>
        <td><%= account.address %></td>
        <td><%= account.phone %></td>
        <td>
<%if account.program%>
   <%=account.program.name%>
<%else%>
   Program doesn't exist
<%end%>
</td>
        <td><%= link_to ' Show', account, class: 'fa fa-eye', 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Show Client Account' %></td>
        <td><%= link_to ' Edit', edit_account_path(account), class: "fa fa-pencil-square-o", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Edit Client Account'  %></td>
        <% if user_signed_in? && current_user.admin? %>
        <td><%= link_to ' Delete', account, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Delete Client Account' %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @account %>
</div>
</div>

<div class="col-md-4">
    <br>
    <div align="center">
        <h2>App Info</h2>
        <div class="well well-sm">
    <b>Current Client Count</b>
    <%= @accounts_count %>
  </div>
</div>
</div>
</div>
</div>

