<div class="container">
    
<div class="row">
  
  <div class="col-md-3">
    <div class="well ">
<p>
     <strong>First name:</strong>
  <%= @account.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @account.last_name %>
</p>

<p>
  <strong>Returing Client?:</strong>
  <%= @account.return_client ? 'Yes' : 'No'  %>
</p>
<p>
  <strong>Program:</strong>
  <%= @account.program.name %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @account.insurance.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @account.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @account.phone %>
</p>

<p>
<strong>Created:</strong> 
<%= @account.created_at.strftime ("%-b-%-d-%y") %>
</p>
</div>

    <%= link_to "Write a note", new_account_note_path(@account), class: "btn btn-primary" %>

    <br>
    <br>
  </div>

  
  <div class="col-md-9">
    <% if @notes.blank? %>
      <h3>No notes yet. Be the first to write one!</h3>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>

        <tbody>
          <% @notes.each do |note| %>
            <tr>
              <td>
                <h4>
                <%= "#{note.user.first_name.capitalize} #{note.user.last_name.capitalize[0]}" %>
                </h4>
                <h5><%= note.created_at.strftime("%-m/%-d/%y") %></h5>
              </td>

              <td>
                <p><%= h(note.comment).gsub(/\n/, '<br/>').html_safe %></p>
                
                <% if user_signed_in? %>
                   <% if (current_user.admin?) %>
                    <%= link_to "Edit Note", edit_account_note_path(@account, note) %>   |
                    <%= link_to "Delete Note", account_note_path(@account, note), method: :delete %>
                    <% else %>
                    <% if (note.user == current_user) %> 
                    <%= link_to "Edit Client", edit_account_note_path(@account, note) %>
                  <% end %>
                <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_account_path(@account), class: "btn btn-link" %> |
<%= link_to 'Back', accounts_path, class: "btn btn-link" %>